<!-- template/article_list.html -->
{% extends 'base.html' %}
{% block title %}Articles{% endblock title %}
{% block content %}
<div class="container">
  <h1 style="padding-top: 20px; padding-left: 20px">
    All Articles <i class="fa fa-arrow-circle-down"></i>
  </h1>
  <hr />
  <br />
  <li class="row" data-list-text="—">
    <div class="column" style="padding-left: 22pt">
      {% for article in articles|slice:":2" %}
      <div class="card">
        <div class="card-header">
          <h3>{{ article.title }}</h3>
        </div>
        <a href="{% url 'article_detail' article.pk %}">
          <img
            style="width: 15vw; margin: auto"
            src="{{ article.pic.url }}"
            alt="{{ article.title }}"
            class="card-img-top"
          />
        </a>
        <div class="card-body">
          <p>
            {{ article.body|truncatewords:"50" }}
            <a href="{% url 'article_detail' article.pk %}"> Read More </a>
          </p>
          <span class="text-muted"
            >by {{ article.author }} | {{ article.date }}</span
          >
          <br />
          {% if article.author == user %}
          <a href="{% url 'article_edit' article.pk %}">Edit</a> |
          <a href="{% url 'article_delete' article.pk %}">Delete</a>
          {% endif %}
        </div>
        <div class="card-footer">
          {% for comment in article.comments.all %}
          <p>
            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
            {{ comment }}
          </p>
          {% endfor %}
        </div>
      </div>
      <br />
      {% endfor %}
    </div>
    <div class="column" style="padding-left: 22pt">
      {% for article in articles|slice:"2:4" %}
      <div class="card">
        <div class="card-header">
          <h3>{{ article.title }}</h3>
        </div>
        <a href="{% url 'article_detail' article.pk %}">
          <img
            style="width: 15vw; margin: auto"
            src="{{ article.pic.url }}"
            alt="{{ article.title }}"
            class="card-img-top"
          />
        </a>
        <div class="card-body">
          <p>
            {{ article.body|truncatewords:"50" }}
            <a href="{% url 'article_detail' article.pk %}"> Read More </a>
          </p>
          <span class="text-muted"
            >by {{ article.author }} | {{ article.date }}</span
          >
          <br />
          {% if article.author == user %}
          <a href="{% url 'article_edit' article.pk %}">Edit</a> |
          <a href="{% url 'article_delete' article.pk %}">Delete</a>
          {% endif %}
        </div>
        <div class="card-footer">
          {% for comment in article.comments.all %}
          <p>
            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
            {{ comment }}
          </p>
          {% endfor %}
        </div>
      </div>
      <br />
      {% endfor %}
    </div>
  </li>
</div>
{% endblock content %}
