<!-- template/article_list.html -->
{% extends 'base.html' %}
{% block title %}Articles{% endblock title %}
{% block content %}
<h1>All Articles <i class="fa fa-arrow-circle-down"></i></h1>
  <hr>
  <br>
{% for article in object_list %}
<div class="card">
  <div class="card-header">
    <span class="font-weight-bold">{{ article.title }}</span> &middot;
    <span class="text-muted">by {{ article.author }} | {{ article.date }}</span>
  </div>
  <div class="card-body">
    <p>{{ article.body }}</p>
    <!-- Changes start here! -->
    {% if article.author == user %}
      <a href="{% url 'article_edit' article.pk %}">Edit</a> |
      <a href="{% url 'article_delete' article.pk %}">Delete</a>
    {% endif %}
  </div>
  <div class="card-footer">
    {% for comment in article.comments.all %}
    <p>
      <span class="font-weight-bold">{{ comment.author }} &middot;</span>
      {{ comment }}
    </p>
    {% endfor %}
  </div>
</div>
<br />
{% endfor %}
{% if is_paginated %}
    <nav aria-label="Page navigation conatiner"></nav>
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

      {% endif %}
    </ul>
    </nav>
  {% endif %}
{% endblock content %}
